body {
  background: url("/nba-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.container {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  background: rgba(31, 31, 31, 0.97);
}

.sidebar {
  display: flex;
  width: fit-content;
}

.team {
  width: 55px;
}

.statsbar {
  display: flex;

  width: 5rem;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-container {
    margin: auto;
    height: fit-content;
  }

  .menu-icon {
    display: inline;
    width: 100%;
    background-color: red;
    > .hamburger {
      width: 40px;
    }
  }

  .team {
    display: none;
  }
}
