/* line 1, ../sass/main.scss */
body {
  background: no-repeat url("/nba-background.jpg");
  background-size: cover;
  background-color: black;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

/* line 10, ../sass/main.scss */
header, footer {
  grid-column: 1 / 3;
}

/* line 14, ../sass/main.scss */
.container {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  background: rgba(31, 31, 31, 0.97);
}

/* line 21, ../sass/main.scss */
.top-menu {
  display: flex;
  width: fit-content;
}

/* line 26, ../sass/main.scss */
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em 4em;
}

/* line 34, ../sass/main.scss */
.team {
  width: 55px;
}

/* line 38, ../sass/main.scss */
.menu-icon {
  display: none;
}

/* line 44, ../sass/main.scss */
.sidebar-title {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

/* line 49, ../sass/main.scss */
.sidebar-info {
  font-family: 'Roboto', sans-serif;
}

/* line 53, ../sass/main.scss */
#visitingScore, #homeScore {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 0;
}

/* line 60, ../sass/main.scss */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media all and (max-width: 700px) {
  /* line 67, ../sass/main.scss */
  aside,
  article {
    grid-column: 1 / 3;
  }
}
/* line 73, ../sass/main.scss */
#homeLogo, #visitingLogo {
  width: 30px;
  margin-right: 1em;
}

/* line 78, ../sass/main.scss */
#clock {
  text-align: center;
}

/* line 82, ../sass/main.scss */
.score {
  text-align: right;
  margin-left: 2em;
}

/* line 87, ../sass/main.scss */
.game-score {
  display: flex;
  margin: .5em 0;
  flex: 1 1 0;
}

/* line 93, ../sass/main.scss */
aside, article, footer {
  background: #e9e7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

/* line 101, ../sass/main.scss */
header {
  background: url("/blazers02.jpg") no-repeat 0% 5%/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

/* line 109, ../sass/main.scss */
.sidebar {
  height: 100%;
}

@media screen and (max-width: 600px) {
  /* line 115, ../sass/main.scss */
  .mobile-container {
    margin: auto;
    height: fit-content;
  }

  /* line 120, ../sass/main.scss */
  .column {
    padding: 0;
  }

  /* line 124, ../sass/main.scss */
  .menu-icon {
    display: inline;
    width: 100%;
    background-color: #ff5e00;
  }
  /* line 128, ../sass/main.scss */
  .menu-icon > .hamburger {
    width: 40px;
  }

  /* line 133, ../sass/main.scss */
  .team.hide-mobile {
    display: none;
  }
}
