/* line 1, ../sass/main.scss */
body {
  background: url("/nba-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* line 8, ../sass/main.scss */
.container {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  background: rgba(31, 31, 31, 0.97);
}

/* line 15, ../sass/main.scss */
.sidebar {
  display: flex;
  width: fit-content;
}

/* line 20, ../sass/main.scss */
.team {
  width: 55px;
}

/* line 24, ../sass/main.scss */
.statsbar {
  display: flex;
  width: 5rem;
}

/* line 30, ../sass/main.scss */
.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 35, ../sass/main.scss */
  .mobile-container {
    margin: auto;
    height: fit-content;
  }

  /* line 40, ../sass/main.scss */
  .menu-icon {
    display: inline;
    width: 100%;
    background-color: red;
  }
  /* line 44, ../sass/main.scss */
  .menu-icon > .hamburger {
    width: 40px;
  }

  /* line 49, ../sass/main.scss */
  .team {
    display: none;
  }
}
